<div>
  <div>
    <form class="" action="/session" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <div>
        <label for="text1">Email:</label>
        <input name="email" type="text" id="text1">
      </div>
      <div>
      <label for="text2">Password:</label>
      <input name="password" type="password" id="text2">
    </div>
    <div>
      <button >Log in</button>
    </div>
    <% if session[:error] %>
      <p><%= session[:error] %></p>
      <% session[:error] = nil %>
    <% end %>
  </form>
</div>
</div>
