
  <div id="preloader"></div>

<!--==========================
  Hero Section
============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="" src="assets/ga-logo.png" alt="Imperial">
        </div>

        <h1>Welcome to WDIcon 2017</h1>
        <h2>The greatest minds talk <span class="rotating">tech, web development, web technologies, back end systems, fintech, chatbots, front end development, kasun &amp lip dubs</span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Learn More</a>
          <a href="login.html" class="btn-services">Log In</a>
        </div>
      </div>
    </div>
  </section>

<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#hero">WDIcon</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About WDIcon</a></li>
          <li><a href="#portfolio">The Panel</a></li>
          <li><a href="#testimonials">Keynote Speakers</a></li>
          <li><a href="#location">Location</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!--==========================
  About Section
============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About WDIcon</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title"></h2>
          <p class="about-text">
            Located in the heart of the city, the conference aims to showcase why Melbourne is considered at the forefront of the tech movement.
          </p>
          <p class="about-text">
            WDI Conf returns for a second year this May. After a successful inaugural conference, WDI Conf will again present talks by established and emerging tech experts.
          </p>
          <p class="about-text">
            This 1 day event will provide access to Melbourne's newest web development keynote speakers and a great networking event. For all interest lvels, from the tech curious to startup funders. We have it all covered.
          </p>
        </div>
      </div>
    </div>
  </section>

<!--==========================
  Subscrbe Section
============================-->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Find out more in the lead up to this leading edge web development conference!</p>
          <p class="subscribe-text">We promise not to spam you.</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section>

<!--==========================
  Porfolio Section
============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">The Panel</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Here are the featured keynote speakers appearing at this years WDIcon</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>David McDeavitt</h4>
              <span>Fintech for All</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Sam Young</h4>
              <span>The Rise of Citizen Development</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Brett Cremer</h4>
              <span>The Box Model or How I Learned to Love Again</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Adrian Mancuso</h4>
              <span>Breaking from Loops - Functional Programming in JS</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Matt Aitken</h4>
              <span>Twitch streamers &amp the new age of eSports</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Enrique 'Kit' Perez</h4>
              <span>AExploring Continuous Integration with Travis</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Danny Li</h4>
              <span>Create pixelated version of an image using p5.js</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Saloni</h4>
              <span>Data Structure- Linked List</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Sabrina Swatee</h4>
              <span>Promises in Javascript</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Javed DeCosta</h4>
              <span>Machine Does a Learn</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(assets/user-icon.jpg);" href="#">
            <div class="details">
              <h4>Alex Draconis</h4>
              <span>5 ways video games could be used to improve our lives</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

<!--==========================
  Testimonials Section
============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Keynote Speakers</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Leading this years talks are two of the biggest names in tech.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="assets/dt.jpg" alt=""></div>
            <h4>Daniel Tsui</h4>
            <span>Lead Instructor</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="assets/quote_sign_left.png" alt=""></b> I can't believe the impressive amount of knowledge bootcamp students can learn in such a short amount of time. They will be after my job soon enough. <small><img src="assets/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="assets/quote_sign_left.png" alt=""></b>I'm looking forward to working with this bunch of amazing people in the future. Even though I'm from New Zealand, I still think I'm a good judge of character, and this group is outstanding.<small><img src="assets/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="assets/kasun.jpg" alt=""></div>
            <h4>Kasun Maldeni</h4>
            <span>Teachers Assistant</span>
          </div>
        </div>
      </div>

    </div>
  </section>

<!--==========================
  Contact Section
============================-->
  <section id="location">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Conference Location</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">12a/45 William Street, Melbourne</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
            </div>

            <div>
            </div>

            <div>
            </div>

          </div>
        </div>

        <a href="https://www.google.com/maps/dir//45+william+street,+melbourne/"><img width="100%" src="https://maps.googleapis.com/maps/api/staticmap?center=45+william+street,+melbourne&zoom=13&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7C45+william+street,+melbourne" alt="Google Map of 45 william street, melbourne"></a>

      </div>
    </div>
  </section>

<!--==========================
  Footer
============================-->
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; Copyright <strong>WDIcon</strong>. All Rights Reserved
            </div>
            <div class="credits">
              Front End by <a href="http://www.bcrmr.com/">Brett Cremer</a> | Back End by  <a href="#">David McDeavitt</a> &amp  <a href="#">Danny Li</a>
            </div>
          </div>
        </div>
      </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
